@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

.middle-box
{
    position: relative;
    width: 30%;
    height: 200%;
    background-color: #B0BBBF;
    border-radius: 150px;
    box-shadow: 0 0 20px 5px #B0BBBF;
}

.middle-box .inner-block
{
    position: relative;
    top: 25%;
    height: 50%;
    width: 100%;
}

.middle-box .inner-block .padding-box
{
    padding: 5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-top-special
{
    display: inline;
    font-family: 'Tilt Prism', cursive;
    font-size: 3.2em;
    color: #242423;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px #FFC300;
}

.text-right-special
{
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
    font-size: 1.2em;
    color: #242423;
}