.main-block
{
    display: block;
    width: 100%;
    padding: 1.5%;
    margin: 0;
    background-color: #2C2D3C;
    box-sizing: border-box;
}

.sad-sign
{
    text-align: center;
    font-size: 1.6em;
    color:#f5f5f5;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10%;
    margin-bottom: 10%;
}

.date-container
{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.date-line
{
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    z-index: 10;
}

.line
{
    width: 100%;
    border-radius: 10px;
    height: 5px;
    background-color: #f5f5f5;
    display: inline-block;
}