@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.header-sign
{
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f5;
    text-shadow: 0px 0px 7px #1f1f1f,
                 0px 0px 3px #282828,
                 0px 0px 15px black;
    margin-bottom: 0;
}

.sign-wrapper
{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sign-wrapper > img
{
    max-width: 40px;
}

.sign-wrapper .img-shadow
{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    display: inline;
    position: relative;
    top: -20px;
    z-index: -1;
    box-shadow: 0 0 40px 25px #FFC300;
    background-color: #FFC300;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sign-wrapper:hover .img-shadow
{
    opacity: 1;
}