@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.header-sign
{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-shadow: 0px 0px 7px #1f1f1f,
                 0px 0px 3px #282828,
                 0px 0px 15px black;
}

.header-sign::after, .header-sign::before
{
    content: "";
    position: relative;
    display: block;
    top: 25px;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #F5CB5C;
}

.header-sign::before
{
    top: -25px;
}

.active
{
    background-color: #fff;
    box-shadow: 0 0 30px 15px #FFC300,
                0 0 20px 8px #FFE48B,
                0 0 8px 4px#FFFCF0,
                0 0 3px 1px #fff;
}