.header
{
    background-color: #242423;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    height: 16vh;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 2px 6px 1px #242423;
    z-index: 20;
}

.empty-space
{
   width: 100%;
   height: 16vh;
   box-sizing: border-box;
}

.profile-view img, .profile-view h3
{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-view h3
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #f5f5f5;
}

.profile-view .user-icon
{
    max-width: 40px;
}

.profile-view .star
{
    max-width: 20px;
}