.header
{
    background-color: #242423;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    height: 16vh;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 2px 6px 1px #242423;
    z-index: 20;
}

.empty-space
{
   width: 100%;
   height: 16vh;
   box-sizing: border-box;
}