.field-section
{
    margin: 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.field-section label, .field-section input
{
    display: block;
}

.field-section input
{
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    padding: 10px;
    width: 21vw;
    padding-left: 20px;
    padding-right: 20px;
}

.field-section label
{
    color: #02a8f3;
    font-size: 1.5em;
    margin-right: 2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}
