.upcoming
{
    background-color: #2c2d3c;
    padding: 0;
    padding-top: 3vh;
    box-sizing: border-box;
}

.vote-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-top-movies
{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
}

.vote-description, .barn-container
{
    padding: 5vh;
    padding-left: 10%;
    max-width: 45%;
    align-self: start;
}

.barn-container
{
    max-width: 80%;
}

.vote-description h2, .barn-container h2
{
    color:#FFC300;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    margin-bottom: 5vh;
}

.vote-description p
{
    text-indent: 3em;
    color:#b0bbbf;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2vw;
    font-size: large;
}

.underline
{
    text-decoration: underline 3px #ffb111;
}

.suggestion-block
{
    display: inline-block;
    margin: 3vh;
    padding: 3vh;
    border: 3px solid #b0bbbf;
    border-radius: 30px;
    background-color: #242423;
}

.suggestion-block img
{
    max-width: 50px;
    display: inline-block;
    vertical-align: middle;
}


.suggestion-block h3
{
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f5;
    display: inline-block;
    vertical-align: middle;
    word-spacing: 0.4em;
}

.suggestion-block p
{
    text-indent: 2em;
    color: #b0bbbf;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    padding: 3%;
    padding-left: 0;
}

.cm
{
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f5;
    display: inline-block;
    vertical-align: middle;
    word-spacing: 0.4em;
    margin-top: 10vh;
}